/* Reset styles */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #18bed8;
  font-family: sans-serif;
  width: 1000px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

.section {
  text-align: center;
  padding: 20px;
}

/* .title {
  margin: 40px 0 20px 0;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  color: rgb(20, 19, 19);
} */

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* відстань між текстом і іконкою */
  margin: 40px 0 20px 0;
}

.title {
  font-weight: 600;
  font-size: 40px;
  color: rgb(20, 19, 19);
  margin: 0;
}

.icon {
  width: 40px;
  height: 40px;
}

.title:hover,
.title:focus {
  background-color: #d934b3;
}
